/*nav*/
nav{
    background-color: darkorange;
    width: 100%;
    height:80px;

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    
}

.container-center{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

    font-family: sans-serif;
}


.flex-nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav img{
    height:30px
}

.flex-nav-footer ul{
    list-style: none;
    color: white;
    
    display: flex;
    flex-direction: row;
    gap:10px;
    
}
/*/nav*/



/*main*/

main{
    padding-top: 150px;
}


.flex-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

.card{
    min-width: 30%;
    position: relative;
    margin-bottom: 20px;
}

.card-top{
    
    position: relative;
    width: 100%;
    height: 450px;
}


/*inizia la sezione img di sondo*/
.image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
}


.img-uno{
    background-image: url("../img/1.webp");
}

.img-uno-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/1b.webp");
}

.img-due{
    background-image: url("../img/2.webp");
}

.img-due-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/2b.webp");
}

.img-tre{
    background-image: url("../img/3.webp");
}

.img-tre-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/3b.webp");
}

.img-quattro{
    background-image: url("../img/4.webp");
}

.img-quattro-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/4b.webp");
}

.img-cinque{
    background-image: url("../img/5.webp");
}

.img-cinque-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/5b.webp");
}

.img-sei{
    background-image: url("../img/6.webp");
}

.img-sei-b{
    display: none;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../img/6b.webp");
}

.card:hover .img-uno-b{
    display: inline-block;
}

.card:hover .img-due-b{
    display: inline-block;
}

.card:hover .img-tre-b{
    display: inline-block;
}

.card:hover .img-quattro-b{
    display: inline-block;
}

.card:hover .img-cinque-b{
    display: inline-block;
}

.card:hover .img-sei-b{
    display: inline-block;
}
/*finisce la sezione img di sondo*/


.card-bottom{
    font-size: 0.7em;
}

.cuoricino{
    background-color: white;
    position:absolute;
    top:5px;
    right: 0;
    z-index: 2;

    width: 1.5em;
    height: 1.5em;
    padding: 3px 5px;

}

/*parte bonus*/
.cuoricino:hover{
    color: red;
    cursor: pointer;
}
/*/parte bonus*/

.labels{
    display: flex;
    flex-direction: row;
    gap:5px;

    position:absolute;
    bottom:20px;
    left:0;
    font-size: 0.7em;
    z-index: 1;
    
}


.sconti{
    background-color: red;
    color: white;
    padding: 4px;
}

.sostenibile{
    background-color: green;
    color: white;
    padding: 4px;
}

.prezzo{
    font-weight: bold;
    color: red;
}

.old-price{
    text-decoration: line-through;
}

/* /main */





/*footer*/
footer{
    background-color: #353535;
    color: white;
    width: 100%;
    height: 100px;
    font-weight: 0.7em;
}


footer span{
    font-weight:bold;
    font-size: 0.8em;
}

footer ul{
    font-size: 0.6em;
}

.flex-foot-vert{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 40px;
}

#contatti{
    font-size:0.6em;
}
